// Paleta de colores de <https://github.com/vuejs/theme>
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

$vt-c-white: #ffffff;
$vt-c-white-soft: #f8f8f8;
$vt-c-white-mute: #f2f2f2;

$vt-c-black: #181818;
$vt-c-black-soft: #222222;
$vt-c-black-mute: #282828;

$vt-c-indigo: #2c3e50;

$vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
$vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
$vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
$vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

$vt-c-text-light-1: $vt-c-indigo;
$vt-c-text-light-2: rgba(60, 60, 60, 0.66);
$vt-c-text-dark-1: $vt-c-white;
$vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

$cursor: url('./img/cursor.cur'), auto;

// Variables semánticas del proyecto
$color-background: $vt-c-white;
$color-background-soft: $vt-c-white-soft;
$color-background-mute: $vt-c-white-mute;

$color-border: $vt-c-divider-light-2;
$color-border-hover: $vt-c-divider-light-1;

$color-heading: $vt-c-text-light-1;
$color-text: $vt-c-text-light-1;

$section-gap: 160px;

body {
  color: $color-text;
  background: $color-background;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: #f47a22;
  transition: 0.4s;
  padding: 3px;
  cursor: $cursor;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(25, 91%, 55%, 0.2);
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  // Uncommentar para diseño de dos columnas
  // #app {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   padding: 0 2rem;
  // }
}

// Soporte para esquema de color oscuro
@media (prefers-color-scheme: dark) {
  $color-background: $vt-c-black;
  $color-background-soft: $vt-c-black-soft;
  $color-background-mute: $vt-c-black-mute;

  $color-border: $vt-c-divider-dark-2;
  $color-border-hover: $vt-c-divider-dark-1;

  $color-heading: $vt-c-text-dark-1;
  $color-text: $vt-c-text-dark-2;

  body{
    color: $color-text;
    background: $color-background;
  }
}

// Reset y configuraciones globales
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}